a.AdvancedSearch {
   padding: 6px 0;
   display: block;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   background: #44c7f4 /* Banner Background Color */;
   color: #fff /* Banner Font Color */;
   text-decoration: none;
   margin: 0 0 10px 0;
   text-shadow: 0 1px 0 #30ACD6;
}
a.AdvancedSearch:hover {
   background: #11e420 /* Menu Hover Background Color */;
   color: #fff /* Menu Hover Font Color */;
   text-shadow: 0 1px 0 #01c400;
}
